<div class='container'>
  <% content_for :title, 'Edit Client Profile' %>
  <% provide(:path, admin_client_path) %>

  <div class='form-group client-button-margins'>
    <%= render 'admin_header' %>
    <span>Edit Client</span>
  </div>

  <%= render 'form', client: @client %>
</div>

