<div class='container'>
  <% content_for :title, 'Create Client' %>
  <% provide(:path, admin_clients_path) %>

  <div class='form-group margin_left_right_15'>
    <%= render 'admin_header' %>
    <span><b>New Client</b></span>
  </div>

  <%= render 'form', client: @client %>
</div>
