<% if object.errors.any? %>
  <div id="error_explanation" class='alert alert-danger'>
    <h4><%= pluralize(object.errors.count, "error") %> prohibited this from being saved:</h4>

    <% object.errors.full_messages.each do |message| %>
      <p class='error-margins'><%= message %></p>
    <% end %>
  </div>
<% end %>
