<div class='container'>
<% content_for :title, 'Edit Project Profile' %>
<% provide(:path, generic_path_method('update', 'project', @project)) %>

  <div class='form-group margin_left_right_15'>

    <span><b>Edit Project</b></span>
  </div>

  <%= render 'form', project: @project, clients: @clients, manager: @manager %>
</div>
