<div class='container'>
<% content_for :title, 'Create Project' %>
<% provide(:path, generic_path_method('create', 'project', @project)) %>

  <div class='form-group margin_left_right_15'>

    <span><b>New Project</b></span>
  </div>

  <%= render 'form', project: @project, clients: @clients %>
</div>
